.gcloudignore
.git
.gitignore
.venv
.python-version
__pycache__/
*.pyc
*.pyo
.DS_Store
.ipynb_checkpoints/
eval/
deployment/
infra/
oldmain.py
toolbox-alloydb-local.yaml
toolbox-alloydb-remote.yaml
toolbox.env-example
toolbox_env-example.sh
